*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: white;
}

:root {
    --primary-color: #2b2b2b;
    --secondary-color: #393939;
    --tertiary-color: #909090;
}

body{
    background-color: var(--primary-color);
}

hr{
    margin: 10px;
}

mark{
    background-color: #00d061;
}

.sidenav{
    display: none;
    position: absolute;
    right: 0px;
    top: 0px;
    color: white;
    font-family: sans-serif;
    flex-direction: column;
    height: 2240px;
    width: 30%;
    align-items: center;
    background-color: var(--tertiary-color);
    overflow: hidden;
    animation: show 200ms ;
}

.sidenav-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
}

.sidenav-top i{
    font-size: 2rem;
}

.sidenav h2{
    margin-bottom: 5px;
}

.sidenav a{
    text-decoration: none;
    color: white;
    width: 100%;
    display: flex;
    box-sizing: border-box;
    padding: 20px;
    justify-content: center;
    transition: 300ms ease-in-out;
}

.sidenav a:hover{
    font-size: 19px;
    background-color: var(--secondary-color);
    transition: 300ms ease-in-out;
}

.sidenav-top li{
    list-style: none;
    transition: 200ms ease-in-out;
}

.sidenav-top li:hover{
    background-color: var(--tertiary-color);
    color: var(--secondary-color);
    cursor: pointer;
}

@keyframes show{
    0%{
        width: 0;
    }

    100%{
        width: 30%;
    }
}

header {
    width: 100%;
    background-color: var(--secondary-color);
    box-shadow: 0px -10px 32px 10px rgba(0,0,0,0.75);
}

.header-content {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 25px;
    max-width: 1000px;
    background-color: var(--secondary-color);
}

.header-items{  
    color: white;
}

.header-items:hover{
    cursor: pointer;
}

.header-items img{
    height: 60px;
}

.header-items i {
    font-size: 4rem;
}

.content{
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    margin: 0 auto;
}

.content h1{
    text-align: center;
    font-size: 4rem;
    margin-top: 2rem;
}

.content h2{
    text-align: center;
    margin-top: 1rem;
    font-size: 30px;
}

.content p {
    margin: 1rem auto;
    font-size: 20px;
    width: 80%;
    text-align: center;
}

.code pre{
    margin: 1rem auto;
    background: var(--secondary-color);
    width: 700px;
    border-radius: 20px;
}

.code pre::before{
    content: 'HTML';
    background-color: #252525;
    display: flex;
    padding: 5px;
    padding-left: 25px;
    border-radius: 20px 20px 0px 0px;
    margin-bottom: 10px;
}

.res {
    display: flex;
    flex-direction: column;
    max-width: 700px;
    width: 700px;
    margin: 0 auto;
    background: var(--secondary-color);
    margin-top: 2rem;
    border-radius: 20px;
    margin-bottom: 20px;
}

.restxt{
    text-align: center;
    font-size: 35px;
    font-weight: 100;
    background: #252525;
    border-radius: 20px 20px 0px 0px;
    padding: 10px;
}

.res-code{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 5rem;
    text-align: center;
    width: 100%;
}

.green-code{
    color: #00d061;
}

.orange-code{
    color: #ff97a0;
}

.table{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 80%;
    justify-content: space-between;
    margin-top: 2rem;
}

.table-title{
    display: flex;
    width: 100%;
    justify-content: space-between;
    background-color: var(--tertiary-color);
}

.table-content{
    background-color: var(--secondary-color);
    width: 100%;
    display: flex;
    gap: 3rem;
    align-items: center;
}