*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

:root {
    --primary-color: #2b2b2b;
    --secondary-color: #393939;
    --tertiary-color: #909090;
}

a{
    color: white;
}

body{
    background-color: var(--primary-color);
}

.sidenav{
    display: none;
    position: absolute;
    right: 10px;
    top: 10px;
    color: white;
    font-family: sans-serif;
    flex-direction: column;
    width: 200px;
    align-items: center;
    border-radius: 20px;
    background-color: var(--tertiary-color);
    overflow: hidden;
}

.sidenav-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
}

.sidenav-top i{
    font-size: 2rem;
}

.sidenav h2{
    margin-bottom: 5px;
}

.sidenav a{
    text-decoration: none;
    color: white;
    width: 100%;
    display: flex;
    box-sizing: border-box;
    padding: 20px;
    justify-content: center;
    transition: 200ms ease-in-out;
}

.sidenav a:hover{
    background-color: var(--secondary-color);
}

.sidenav-top li{
    list-style: none;
    transition: 200ms ease-in-out;
}

.sidenav-top li:hover{
    background-color: var(--tertiary-color);
    color: var(--secondary-color);
    transition: 200ms ease-in-out;
    cursor: pointer;
}

header {
    width: 100%;
    background-color: var(--secondary-color);
    box-shadow: 0px -10px 32px 10px rgba(0,0,0,0.75);
}

.header-content {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 25px;
    max-width: 1000px;
    background-color: var(--secondary-color);
}

.header-items{  
    color: white;
}

.header-items:hover{
    cursor: pointer;
}

.header-items img{
    height: 60px;
}

.header-items i {
    font-size: 4rem;
}